/** ############################################################################
 *  Google Fonts
 * ########################################################################## */
/* Only 400 and 700 make it a fast download */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

/** ############################################################################
 *  Global Styles
 *  - Mobile First Approach
 *  - Local styles will be set with styled-components
 * ########################################################################## */
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --fullWhite: #fff;
  --fullBlack: #000;

  --grey1: #222;
  --grey2: #444;
  --grey3: #666;
  --grey4: #888;
  --grey5: #aaa;
  --grey6: #ccc;
  --grey7: #eee;
  --grey8: #f3f3f3;

  --boxShadow: 0px 0px 6px rgba(200, 200, 200, 0.4);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--fullWhite);
  color: var(--grey1);
  line-height: 1.6;
  text-align: left;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
}

/** ############################################################################
 *  By Element (Alph Order)
 * ########################################################################## */
a {
  color: var(--grey1);
  text-decoration: none;
}

button {
  display: inline-block;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  text-align: justify;
  margin-bottom: 1rem;
}

p:last-of-type {
  margin-bottom: 0rem;
}

/** ############################################################################
 *  Media Query Medium Sizes
 * ########################################################################## */
@media (min-width: 768px) {
}

/** ############################################################################
 *  Media Query Big Sizes
 * ########################################################################## */
@media (min-width: 1200px) {
}
