/** ############################################################################
 *  Google Fonts
 * ########################################################################## */
/* Only 400 and 700 make it a fast download */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

/** ############################################################################
 *  Global Styles
 *  - Mobile First Approach
 *  - Local styles will be set with styled-components
 * ########################################################################## */
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --fontMontserrat: "Montserrat", Arial, sans-serif;

  --fullWhite: #fff;
  --fullBlack: #000;

  --grey1: #222;
  --grey2: #444;
  --grey3: #666;
  --grey4: #888;
  --grey5: #aaa;
  --grey6: #ccc;
  --grey7: #eee;
  --grey8: #f3f3f3;
  --grey9: #f7f7f7;

  --lightBlue: #33adff;
  --lightGreen: #5cd6d6;
  --lightOrange: #ff9966;
  --lightPurple: #aa80ff;

  --dimmedBlack2: rgba(0, 0, 0, 0.2);
  --dimmedBlack4: rgba(0, 0, 0, 0.4);
  --dimmedBlack6: rgba(0, 0, 0, 0.6);
  --dimmedBlack7: rgba(0, 0, 0, 0.7);
  --dimmedBlack8: rgba(0, 0, 0, 0.8);
  --dimmedBlack9: rgba(0, 0, 0, 0.9);

  --boxShadow: 0px 0px 7px rgba(200, 200, 200, 0.65);
  --boxShadowCard: 2px 2px 5px rgba(127, 127, 127, 0.4);
  --boxShadowSmallUnderline: 0 0.15rem 0 -1px #aaa;
  --boxShadowLightUnderline: 0 0.25em 0 -1px #eee;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--fullWhite);
  color: var(--grey1);
  line-height: 1.6;
  text-align: left;
  font-family: var(--fontMontserrat);
  font-weight: 400;
}

/** ############################################################################
 *  By Element (Alph Order)
 * ########################################################################## */
a {
  color: var(--grey1);
  text-decoration: none;
}

button {
  display: inline-block;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p {
  text-align: justify;
  margin: 0 0 1rem 0;
}

p:last-of-type {
  margin-bottom: 0rem;
}

/** ############################################################################
 *  Media Query Medium Sizes
 * ########################################################################## */
@media (min-width: 768px) {
}

/** ############################################################################
 *  Media Query Big Sizes
 * ########################################################################## */
@media (min-width: 1200px) {
}
